body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(32, 37, 43);
  /* insert background img here */
}

header {
  background-color: #06D6A0;
  width: 100vw;
  height: 1rem;
  padding: 1em 0;
  color: goldenrod;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color:white;
  cursor: pointer;
}

.introContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
}

.picture {
 
  width: 50vw;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 1em;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7px;
}

.resetContainer {
  background-color: #06D6A0;
  border: 1px solid white;
  width: 26vw;
  height: 6rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  display: flex;
  background-color: white;
  width: 5rem;
  justify-content: center;
  align-items: center;
  height: 1.9rem;
  border-radius: 10px;
}

.subjectContainer {
  background-color: #FFD166;
  border: 1px solid white;
  width: 21vh;
  height: 6rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject {
  display: flex;
    background-color: white;
    width: 11em;
    justify-content: center;
    align-items: center;
    height: 1.9rem;
    border-radius: 6px;
}

.scoreContainer {
  background-color: #06D6A0;
  border: 1px solid white;
  width: 26vw;
  height: 6rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  display: flex;
  background-color: white;
  width: 5rem;
  justify-content: center;
  align-items: center;
  height: 1.9rem;
  border-radius: 10px;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  list-style-type: none;
  padding: 0;
}

li {
  margin: 13px 2px;
  background-color: #FF1654;
  border:1px black solid;
  box-shadow: 5px 8px #247BA0;
}

p, h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:white;
}

li:hover{
  cursor: pointer;
  background-color: #247BA0;
  color:white;
  border:3px white solid;
  box-shadow: 5px 8px #F3FFBD;
}

