body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  background-color: #292F36;

}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  box-shadow: 5px 10px;
}

.grid>div {
  background: #4ECDC4;
  padding: 1em;
  box-shadow: 5px 10px #FF6B6B;
}

.grid>div:nth-child(odd) {
  background: #4ECDC4;
  box-shadow: 5px 10px #FF6B6B;
}

h3 {
  font-family: sans-serif;
  text-justify: center;
  color: gold;
  font-size: 35px;
}

aside>nav {
  grid-column-gap: 1em;
}

main {

  grid-column: 6/20;
  grid-row: 7/21;
}

h2 {
  text-align: center;
  font-family: arial;
  font-weight: 900;
  color: #FFE66D;
  font-weight: bold;
  background-color: #FF6B6B;
}

h1 {
  text-align: center;
  color:#FF6B6B;
  background-color: #292F36;
  padding-top: 5px;
  
}

header {
  display: grid;
  grid-column: 10/16;
  grid-row: 2/4;
  background-color:#FFE66D;
  border-radius: 25px;
  
}

head {
  grid-column: 9/19;
  grid-row: 4/6;
  border-radius: 25px;
}
p {
text-align: center;
font-size: x-large;
color: #FFE66D;
font-weight: bolder;
  }

nav {
  display: flex;
  grid-column: 9/15;
  grid-row: 5/7;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background: #FFE66D; 
  border-radius: 12px;
  color: #292F36;
  padding: 10px;
  border-top-width: 0px;
  width: 475px;
}

/* li {
  flex-direction: right;
  list-style: none;
} */

.sides>div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  box-shadow: 5px 10px;
 
  color: rgb(7, 7, 7);
}


.score {
 background-color: #FF6B6B;
  padding:1rem;
  width: 45px;
  height: 15px;
  grid-column: 18/19;
  grid-row: 4/8;
  border-radius:20px;
  color:#4ECDC4;
  text-align: center;
}

aside {
  display: grid;
  grid-column: 1/5;
  grid-row: 2/19;
  grid-template-rows: 1px;
  grid-gap: 1em;
  background-color: green;
}
aside > div {
  background-color: yellow;
  border-radius:49px;
}  

li {
  margin: 3px;
}